{% extends "dashboard2.html" %}
{% block graph %}

<div class="container-fluid">
	<div class="row top-buffer">
	
		<div id="real-time-traces-place" class="col-12" style="height:400px">
			<div id="real-time-traces" style="width: 100%;height: 100%">
				<script src="../static/js/real_time_traces_script.js"></script>
			</div>
		</div>
	</div>

	<div class="row top-buffer">
		<div id="real-time-bytes-place" class="col-12" style="height:400px">
			<div id="real-time-bytes" style="width: 100%;height: 100%">
				<script src="../static/js/real_time_bytes_script.js"></script>
			</div>
		</div>	
	</div>

</div>

<!-- Resize -->
<script>
    window.onresize = function () {
        myChart.resize();
        myChart_bytes.resize();
    };
</script>

{% endblock %}